@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.otf");
}

@font-face {
  font-family: "Lovelo";
  src: url("../fonts/Lovelo Black.otf");
  }

html {
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.5);
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #ABB7B7;
}

body{
	min-height: 100%;
	margin: 0;
	font-family: "Bebas"
}

h1 {
	color: white;
}

#loginBox {
	background-color: rgba(0,0,0,0);
	height: auto;
	border-radius: 10px;
	text-align: center;
	padding: 3%;
	z-index: 1003;
	position: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/* center all inline content */
	text-align: center;
}

#loginBox2 {
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	text-align: center;
	padding: 3%;
	position: fixed;
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	width: 40%;
	/* center all inline content */
	text-align: center;
}

.inputBox{
	margin-top: 2%;
	width: 50%;
	border-radius: 10px;
	outline: none;
	border: none;
	text-align: center;
	height: 35px;
}

#loginButton {
	margin-top: 2%;
	width: 30%;
	border-radius: 5px;
	outline: none;
	border: 1px #00FFFF solid;
	color: white;
	background-color: rgba(255,255,255,0.2);
	height: 40px;
}

#loginButton:hover {
	background-color: rgba(255,255,255,0.25);
}

.header{
	height: 175px;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 1000;
}

.bg1{
	position: absolute;
 	z-index: 0;
	width: 100%;
	height: 100%;
	background: url("../img/bg1.png") no-repeat center center;
}

.bg1-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
}

.iphone-wrapper{
	width: 50%;
	height: 100%;
	right: 0;
	position: absolute;
}

.iphone{
	height: 75%;
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-right: auto;
	margin-left: auto;
}


.bg1-text{
	font-family: "Roboto";
	font-weight: 100;
	line-height: 140px;
	letter-spacing: -5px;
	font-size: 120px;
	color: white;
	z-index: 2;
	position: absolute;
	left: 20px;
	height: 420px;
	padding-top: 100px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
}

.down-arrow{
	position: absolute;
	display: block;
	color: white;
	font-size: 100px;
	bottom: 0px;
	width: 100px;
	left:0;
    right:0;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

.tinovation-logo{
	width: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100px;
	margin-top: auto;
	margin-bottom: auto;
}

.tinovation-title{
	font-family: "Raleway";
	font-weight: 300;
	height: 40px;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 180px;
}

.navbar ul {
	position: absolute;
	right: 0;
	list-style-type: none; 
	height: 30px;
	top: 0;
	bottom: -10px;
	margin-top: auto;
	margin-bottom: auto;
	} 
 
.navbar ul li {  
	display: inline; 
} 
 
.navbar ul li a {
	font-family: "Raleway";
	text-decoration: none;
	padding-right: 20px; 
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
} 



.navbar ul li a:hover{
	color: rgb(33,205,236);
}

.about{
	height: 100%;
	width: 100%;
	top: 100%;
	position: absolute;
	background-color: #F0F0F0;
}

.header-padding{
	width: 100%;
	height: 75px;
	background-color: rgba(0,0,0,0);
}

.about-title-padding{
	width: 100%;
	padding: 10px;
	text-align: center;
}

.about-title{
	font-family: "Raleway";
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-weight: 100;
	font-size: 74px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.cards{
	margin-top: 20px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}

.java-button{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	background-color:#22A7F0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.android-button{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	background-color: #2574A9;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.backend-button{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	background-color: #3A539B;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.resources{
	height: 100%;
	width: 100%;
	top: 200%;
	position: absolute;
	background-color: white;
}


.resources-sidebar{
	height: 100%;
	left: 0;
	width: 300px;
	background-color: rgb(61, 79, 93);
}
.resources-wrapper{
	width: 100%;
	height: 100%;
}

.resources-sidebar{
	height: 100%;
	left: 0;
	width: 25%;
	background-color: rgb(61, 79, 93);
	position: absolute;
}

.resources-cards{
	width: 75%;
	position: absolute;
	left: 25%;
	height: inherit;
	background-color: black;
}

.resources-first-row{
	top: 0;
	width: 100%;
	position: relative;
	height: 50%;
	background-color: green;
}

.resources-second-row{
	width: 100%;
	position: relative;
	height: 50%;
	background-color: blue;
}

.resource-card{
	width: 33%;
	position: absolute;
	height: 100%;
	background-color: black;
	
}

/*TEMP COLORS*/
#one{
	background-color: green;
	width: 33%;
}

#two{
	background-color: gray;
	left: 33%;
	width: 34%;
}

#three{
	background-color: blue;
	left: 67%;
}

#four{
	background-color: gray;
	
}

#five{
	background-color: orange;
	left: 33%;
	width: 34%
}

#six{
	background-color: gray;
	left: 67%;
}

.resource-card .text{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.resource-card .text:hover{
	background-color: rgba(0,0,0,0.8);
}

/*TEMP COLORS*/
.officers{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 300%;
	background-color: red;
}

.officers-main-text{
	font-family: "Roboto";
	font-weight: 100;
	font-size: 48px;
	color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	display: table;
}

.officers-main-text p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}